header{
	width: 100%;
	height: .45rem;
	background: #fff;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0 .15rem;
	position: fixed;
	z-index: 11;
}
.ber{
	width:3.45rem;
	height: .45rem;
	margin: 0 auto;
}
.ber input{
	display: block;
	width: 3.45rem;
	height: .3rem;
	background-color: #f0f4f7;
	line-height:.3rem; 
	margin-top: .07rem;
	border: 0;
}
section{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	bottom: .18rem;
}



.scr4:hover{
	border-bottom: .03rem solid #000;
}
.box5{
	width: 3.45em;
	margin: 0 auto;
}
.scr5{
	width: 1.71rem;
	height: 3.32rem;
	float: left;
}
.scr6{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/1.webp');
}
.scr6-1{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/2.webp');
}
.scr6-2{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/3.webp');
}
.scr6-3{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/4.webp');
}
.scr6-4{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/5.webp');
}
.scr6-5{
	width: 1.71rem;
	height: 2.57rem;
	text-align: center;
	background-size: cover;
	float: left;
	line-height: .66rem;
	margin-top: .17rem;
	background-image: url('../img/6.webp');
}
.scr7{
	width: 1.55em;
	height: .35em;
	margin-left: .07rem;
	margin-top: .07rem;
}
.scr7 span:nth-child(1){
	display: block;
	float: left;
	margin-right: .04rem;
	width: .46rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
	margin-top: 13px;
}
.scr7 span:nth-child(2){
	display: block;
	float: left;
	margin-right: .04rem;
	width: .46rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
	margin-top: 13px;
}
.scr7 span:nth-child(3){
	display: block;
	float: left;
	margin-right: .04rem;
	width: .25rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
}
.scr7 span:nth-child(4){
	display: block;
	float: right;
	width: .25rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
}
.scr7 span:nth-child(5){
	display: block;
	float: left;
	margin-right: .04rem;
	margin-top: .09rem;
	width: .25rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
}
.scr7 span:nth-child(6){
	display: block;
	float: left;
	margin-top: .09rem;
	width: .46rem;
	height: .14rem;
	background-color: #f4f5fa;
	font-size: .11rem;
	line-height: .14rem;
	color: #7f8289;
	text-align: center;
}
.scr5 span{
	display: block;
	float: left;
	font-size: .14rem;
	line-height: .4rem;
	color: #000;
}
.scr8{float: right}

footer{
	width: 100%;
	height: .18rem;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
	border-top:.01rem  #f0f4f7 solid; 
}
.box4{
	width: 3.45rem;
	/* height: .64rem; */
	margin: 0 auto;
}
.box4 a{
	color: red;
}
.scr3{
	width: 25%;
	/* height: .64rem; */
	float: left;
	font-size: .12rem;
	color: #131313;
	text-align: center;
	/* line-height: .64rem; */
	margin-left: -18px;
}